old/dfxp/xsd/ttaf1-dfxp-metadata-attribs.xsd

<xs:schema targetNamespace="http://www.w3.org/2006/10/ttaf1#metadata"
  xml:lang="en" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ttd="http://www.w3.org/2006/10/ttaf1#datatype"
  xmlns:ttm="http://www.w3.org/2006/10/ttaf1#metadata">
  <xs:import namespace="http://www.w3.org/2006/10/ttaf1#datatype"
    schemaLocation="ttaf1-dfxp-datatypes.xsd"/>
  <xs:attribute name="agent" type="ttd:agent"/>
  <xs:attribute name="role" type="ttd:role"/>
  <xs:attributeGroup name="Metadata.attrib.class">
    <xs:attribute ref="ttm:agent"/>
    <xs:attribute ref="ttm:role"/>
  </xs:attributeGroup>
</xs:schema>
