ttml10/old/dfxp/xmlspec-tt-f.dtd

<!ELEMENT a (#PCDATA)>
<!ELEMENT abstract ((p | ulist | olist | slist | glist | ednote)*)*>
<!ATTLIST abstract
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT affiliation (#PCDATA | phrase)*>
<!ATTLIST affiliation
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT altlocs (loc+)>
<!ATTLIST altlocs
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT arg EMPTY>
<!ATTLIST arg
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	type (boolean | expression | location-set | node-set | number | object | point | range | string) #REQUIRED
	occur (opt | req) #IMPLIED
>
<!ELEMENT att (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST att
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT attribute (descr)>
<!ATTLIST attribute
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	readonly (yes | no) "no"
>
<!ELEMENT attval (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST attval
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT authlist (author+)>
<!ATTLIST authlist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT author (name, affiliation?, (email|graphic)?)>
<!ATTLIST author
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT back ((div1+, inform-div1*) | inform-div1+)>
<!ATTLIST back
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT bibl (#PCDATA | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | loc | ednote)*>
<!ATTLIST bibl
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #IMPLIED
	xlink:show CDATA #FIXED "replace"
	xlink:actuate CDATA #FIXED "onRequest"
	key CDATA #IMPLIED
>
<!ELEMENT bibref EMPTY>
<!ATTLIST bibref
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	ref IDREF #REQUIRED
>
<!ELEMENT blist (bibl+)>
<!ATTLIST blist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT bnf (#PCDATA | footnote | emph | phrase | quote | sub | sup | loc | ednote | constraint)*>
<!ATTLIST bnf
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xml:space (default | preserve) #FIXED "preserve"
>
<!ELEMENT body (div1+)>
<!ATTLIST body
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT br EMPTY>
<!ELEMENT caption (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST caption
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT case (descr, (struct | enum | sequence | union | typename))>
<!ATTLIST case
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	labels CDATA #REQUIRED
>
<!ELEMENT code (#PCDATA | loc | ednote | phrase | sub | sup)*>
<!ATTLIST code
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xml:space (default | preserve) #FIXED "preserve"
>
<!ELEMENT col EMPTY>
<!ATTLIST col
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	span NMTOKEN "1"
	width CDATA #IMPLIED
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT colgroup (col)*>
<!ATTLIST colgroup
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	span NMTOKEN "1"
	width CDATA #IMPLIED
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT com (#PCDATA | phrase | loc | bibref)*>
<!ATTLIST com
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT component (struct | enum | sequence | union | typename)>
<!ATTLIST component
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT constant (descr)>
<!ATTLIST constant
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	value CDATA #REQUIRED
>
<!ELEMENT constraint EMPTY>
<!ATTLIST constraint
	def IDREF #REQUIRED
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT constraintnote (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)>
<!ATTLIST constraintnote
	id ID #REQUIRED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	type NMTOKEN #REQUIRED
>
<!ELEMENT copyright ((p | ulist | olist | slist | glist | ednote)+)+>
<!ATTLIST copyright
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT date (#PCDATA | phrase)*>
<!ATTLIST date
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT day (#PCDATA | phrase)*>
<!ATTLIST day
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT def ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)*)*>
<!ATTLIST def
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT definitions ((p | note | typedef | constant | exception | reference | group | module | interface)+)+>
<!ATTLIST definitions
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT descr (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)*>
<!ATTLIST descr
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT div (head?, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist | ul | ol | h1 | h2 | h3 | h4 | h5 | h6 | div)*)>
<!ELEMENT div1 (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist)*, div2*)>
<!ATTLIST div1
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT div2 (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist)*, div3*)>
<!ATTLIST div2
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT div3 (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist)*, div4*)>
<!ATTLIST div3
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT div4 (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist)*, div5*)>
<!ATTLIST div4
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT div5 (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist)*)>
<!ATTLIST div5
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT ednote (name?, date?, edtext)>
<!ATTLIST ednote
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT edtext (#PCDATA | br | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST edtext
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT eg (#PCDATA | footnote | emph | phrase | quote | sub | sup | loc | ednote | constraint)*>
<!ATTLIST eg
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xml:space (default | preserve) #FIXED "preserve"
>
<!ELEMENT el (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST el
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT em (#PCDATA)>
<!ELEMENT email (#PCDATA | phrase)*>
<!ATTLIST email
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #REQUIRED
	xlink:show CDATA #FIXED "new"
	xlink:actuate CDATA #FIXED "onRequest"
>
<!ELEMENT emph (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST emph
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT enum (descr, enumerator+)>
<!ATTLIST enum
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT enumerator (descr)>
<!ATTLIST enumerator
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT example (head?, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)>
<!ATTLIST example
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT exception (descr, component*)>
<!ATTLIST exception
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT footnote ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)+>
<!ATTLIST footnote
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT front (div1+)>
<!ATTLIST front
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT function (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST function
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT gitem (label, def)>
<!ATTLIST gitem
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT glist (gitem+)>
<!ATTLIST glist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT graphic EMPTY>
<!ATTLIST graphic
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	source CDATA #REQUIRED
	xlink:show CDATA #FIXED "embed"
	xlink:actuate CDATA #FIXED "onLoad"
	alt CDATA #IMPLIED
>
<!ELEMENT group (descr, (p | note | typedef | constant | exception | reference | group | module | interface | struct | enum | sequence | union | typename | method | attribute)*)>
<!ATTLIST group
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT h1 (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | em | a)*>
<!ELEMENT h2 (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | em | a)*>
<!ELEMENT h3 (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | em | a)*>
<!ELEMENT h4 (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | em | a)*>
<!ELEMENT h5 (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | em | a)*>
<!ELEMENT h6 (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | em | a)*>
<!ELEMENT head (#PCDATA | footnote | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST head
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT header (title, subtitle?, version?, w3c-designation, w3c-doctype, pubdate, notice*, publoc, altlocs?, ((prevlocs, latestloc?) | (latestloc, prevlocs?))?, authlist*, copyright?, ((status, abstract) | (abstract, status)), pubstmt?, sourcedesc?, langusage, revisiondesc)>
<!ATTLIST header
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT htable (caption?, (col* | colgroup*), thead?, tfoot?, tbody+)>
<!ELEMENT htbody (tr)+>
<!ELEMENT inform-div1 (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote | rlist | uselist)*, div2*)>
<!ATTLIST inform-div1
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT interface (descr, (p | note | typedef | constant | exception | reference | group | method | attribute)*)>
<!ATTLIST interface
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
	inherits CDATA #IMPLIED
>
<!ELEMENT issue (head?, source*, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+, resolution?)>
<!ATTLIST issue
	id ID #REQUIRED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	status (open | closed) "open"
>
<!ELEMENT item ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)+>
<!ATTLIST item
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT itemizedlist (listitem*)>
<!ELEMENT key-term (#PCDATA)>
<!ELEMENT kw (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST kw
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT label (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST label
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT language (#PCDATA | phrase)*>
<!ATTLIST language
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT langusage (language+)>
<!ATTLIST langusage
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT latestloc (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST latestloc
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT lhs (#PCDATA | phrase)*>
<!ATTLIST lhs
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT li (#PCDATA | p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)*>
<!ELEMENT listitem (para*)>
<!ELEMENT loc (#PCDATA | phrase | el | att | code | emph)*>
<!ATTLIST loc
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #REQUIRED
	xlink:show CDATA #FIXED "replace"
	xlink:actuate CDATA #FIXED "onRequest"
>
<!ELEMENT member (name, affiliation?, role?)>
<!ATTLIST member
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT method (descr, parameters, returns, raises)>
<!ATTLIST method
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT module (descr, (p | note | typedef | constant | exception | reference | group | module | interface)*)>
<!ATTLIST module
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT month (#PCDATA | phrase)*>
<!ATTLIST month
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT name (#PCDATA | phrase)*>
<!ATTLIST name
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	key CDATA #IMPLIED
>
<!ELEMENT note ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)+>
<!ATTLIST note
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT notice ((p | ulist | olist | slist | glist | ednote)+)+>
<!ATTLIST notice
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT nt (#PCDATA | phrase)*>
<!ATTLIST nt
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	def IDREF #REQUIRED
>
<!ELEMENT ol (item | li)*>
<!ELEMENT olist (item+)>
<!ATTLIST olist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	spacing (normal | compact) #IMPLIED
>
<!ELEMENT orderedlist (listitem*)>
<!ELEMENT orglist (member+)>
<!ATTLIST orglist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT p (#PCDATA | br | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example)*>
<!ATTLIST p
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT para (#PCDATA)>
<!ELEMENT param (descr)>
<!ATTLIST param
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	attr (in | out | inout) "inout"
>
<!ELEMENT parameters (param*)>
<!ATTLIST parameters
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT phrase (#PCDATA | br | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST phrase
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT pre (#PCDATA | footnote | emph | phrase | quote | sub | sup | loc | ednote | constraint | em)*>
<!ELEMENT prevlocs (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST prevlocs
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT prod (lhs, (rhs, (com | wfc | vc | constraint)*)+)>
<!ATTLIST prod
	id ID #REQUIRED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT prodgroup (prod+)>
<!ATTLIST prodgroup
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	pcw1 CDATA #IMPLIED
	pcw2 CDATA #IMPLIED
	pcw3 CDATA #IMPLIED
	pcw4 CDATA #IMPLIED
	pcw5 CDATA #IMPLIED
>
<!ELEMENT prodrecap EMPTY>
<!ATTLIST prodrecap
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	ref IDREF #REQUIRED
>
<!ELEMENT proto (arg*)>
<!ATTLIST proto
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name NMTOKEN #REQUIRED
	return-type (boolean | expression | location-set | node-set | number | object | point | range | string) #REQUIRED
>
<!ELEMENT pubdate (day?, month, year)>
<!ATTLIST pubdate
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT publoc (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST publoc
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT pubstmt ((p | ulist | olist | slist | glist | ednote)+)+>
<!ATTLIST pubstmt
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT quote (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST quote
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT raises (exception*)>
<!ELEMENT reference EMPTY>
<!ATTLIST reference
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	declaration IDREF #REQUIRED
>
<!ELEMENT req ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)*)*>
<!ATTLIST req
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT resolution ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)+>
<!ATTLIST resolution
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT returns (descr)>
<!ATTLIST returns
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	type CDATA #REQUIRED
>
<!ELEMENT revisiondesc ((p | ulist | olist | slist | glist | ednote)+)+>
<!ATTLIST revisiondesc
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT rfc2119 (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST rfc2119
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT rhs (#PCDATA | phrase | nt | xnt | com)*>
<!ATTLIST rhs
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT ritem (head, req)>
<!ATTLIST ritem
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	type (dreq | freq | sreq | nreq | other) #REQUIRED
>
<!ELEMENT rlist (ritem)*>
<!ATTLIST rlist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT role (#PCDATA | phrase)*>
<!ATTLIST role
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT scrap (head, (prodgroup | prod | bnf | prodrecap)+)>
<!ATTLIST scrap
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	lang IDREF #IMPLIED
	headstyle (show | suppress) "show"
>
<!ELEMENT sequence (sequence*)>
<!ATTLIST sequence
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	type CDATA #REQUIRED
	size NMTOKEN #IMPLIED
>
<!ELEMENT sitem (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST sitem
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT slist (sitem+)>
<!ATTLIST slist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT source (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote)*>
<!ATTLIST source
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT sourcedesc ((p | ulist | olist | slist | glist | ednote)+)+>
<!ATTLIST sourcedesc
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT spec (header, front?, body, back?)>
<!ATTLIST spec
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	w3c-doctype (cr | dispcmts | issues | note | other | pr | rec | wd) #IMPLIED
	other-doctype CDATA #IMPLIED
	status (int-review | ext-review | final) #IMPLIED
>
<!ELEMENT specref EMPTY>
<!ATTLIST specref
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	ref IDREF #REQUIRED
>
<!ELEMENT status ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)+>
<!ATTLIST status
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT statusp (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example)*>
<!ELEMENT struct (descr, component+)>
<!ATTLIST struct
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
>
<!ELEMENT sub (#PCDATA | phrase)*>
<!ATTLIST sub
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT subtitle (#PCDATA | phrase)*>
<!ATTLIST subtitle
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT sup (#PCDATA | phrase)*>
<!ATTLIST sup
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT table (caption?, (col* | colgroup*), thead?, tfoot?, tbody+)>
<!ATTLIST table
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	width CDATA #IMPLIED
	summary CDATA #IMPLIED
	border CDATA #IMPLIED
	frame (void | above | below | hsides | lhs | rhs | vsides | box | border) #IMPLIED
	rules (none | groups | rows | cols | all) #IMPLIED
	cellspacing CDATA #IMPLIED
	cellpadding CDATA #IMPLIED
>
<!ELEMENT tbody (tr)+>
<!ATTLIST tbody
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT td (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example)*>
<!ATTLIST td
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	abbr CDATA #IMPLIED
	axis CDATA #IMPLIED
	headers IDREFS #IMPLIED
	scope (row | col | rowgroup | colgroup) #IMPLIED
	rowspan NMTOKEN "1"
	colspan NMTOKEN "1"
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT term (#PCDATA | phrase)*>
<!ATTLIST term
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT termdef (#PCDATA | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example)*>
<!ATTLIST termdef
	id ID #REQUIRED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	term CDATA #REQUIRED
>
<!ELEMENT termref (#PCDATA | phrase)*>
<!ATTLIST termref
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	def IDREF #REQUIRED
>
<!ELEMENT tfoot (tr)+>
<!ATTLIST tfoot
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT th (#PCDATA | footnote | termdef | term | emph | phrase | quote | sub | sup | bibref | specref | termref | titleref | xspecref | xtermref | kw | nt | xnt | code | function | var | el | att | attval | loc | ednote | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example)*>
<!ATTLIST th
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	abbr CDATA #IMPLIED
	axis CDATA #IMPLIED
	headers IDREFS #IMPLIED
	scope (row | col | rowgroup | colgroup) #IMPLIED
	rowspan NMTOKEN "1"
	colspan NMTOKEN "1"
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT thead (tr)+>
<!ATTLIST thead
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT title (#PCDATA | phrase)*>
<!ATTLIST title
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT titleref (#PCDATA | phrase)*>
<!ATTLIST titleref
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #IMPLIED
	xlink:show CDATA #FIXED "new"
	xlink:actuate CDATA #FIXED "onRequest"
>
<!ELEMENT tr (th | td)+>
<!ATTLIST tr
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	align (left | center | right | justify | char) #IMPLIED
	char CDATA #IMPLIED
	charoff CDATA #IMPLIED
	valign (top | middle | bottom | baseline) #IMPLIED
>
<!ELEMENT typedef (descr, (struct | enum | sequence | union | typename))>
<!ATTLIST typedef
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
	array.size NMTOKEN #IMPLIED
>
<!ELEMENT typename (#PCDATA | phrase)*>
<!ATTLIST typename
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT ul (item | li)*>
<!ELEMENT ulist (item+)>
<!ATTLIST ulist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	spacing (normal | compact) #IMPLIED
>
<!ELEMENT union (descr, case+)>
<!ATTLIST union
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	name CDATA #REQUIRED
	switch.type CDATA #REQUIRED
>
<!ELEMENT use ((p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)*)*>
<!ATTLIST use
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT useitem (head, use)>
<!ATTLIST useitem
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	type (simple | other) #REQUIRED
>
<!ELEMENT uselist (useitem)*>
<!ATTLIST uselist
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT var (#PCDATA | loc | ednote | phrase)*>
<!ATTLIST var
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT vc EMPTY>
<!ATTLIST vc
	def IDREF #REQUIRED
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT vcnote (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)>
<!ATTLIST vcnote
	id ID #REQUIRED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT version (#PCDATA | phrase)*>
<!ATTLIST version
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT w3c-designation (#PCDATA | phrase)*>
<!ATTLIST w3c-designation
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT w3c-doctype (#PCDATA | phrase)*>
<!ATTLIST w3c-doctype
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT wfc EMPTY>
<!ATTLIST wfc
	def IDREF #REQUIRED
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT wfcnote (head, (p | ulist | olist | slist | glist | orglist | blist | note | issue | wfcnote | vcnote | constraintnote | eg | graphic | scrap | table | definitions | proto | example | ednote)+)>
<!ATTLIST wfcnote
	id ID #REQUIRED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
<!ELEMENT xnt (#PCDATA | phrase)*>
<!ATTLIST xnt
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #REQUIRED
	xlink:show CDATA #FIXED "new"
	xlink:actuate CDATA #FIXED "onRequest"
>
<!ELEMENT xspecref (#PCDATA | phrase)*>
<!ATTLIST xspecref
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #REQUIRED
	xlink:show CDATA #FIXED "new"
	xlink:actuate CDATA #FIXED "onRequest"
>
<!ELEMENT xtermref (#PCDATA | phrase)*>
<!ATTLIST xtermref
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
	xmlns:xlink CDATA #FIXED "http://www.w3.org/1999/xlink"
	xlink:type CDATA #FIXED "simple"
	href CDATA #REQUIRED
	xlink:show CDATA #FIXED "new"
	xlink:actuate CDATA #FIXED "onRequest"
>
<!ELEMENT year (#PCDATA | phrase)*>
<!ATTLIST year
	id ID #IMPLIED
	role NMTOKEN #IMPLIED
	diff (chg | add | del | off) #IMPLIED
>
